*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container{
width: 100vw;
min-height: 100vh;
height: auto;
color: white;
background-color: rgb(17, 17, 16);
padding: 100px 40px;
display: flex;
flex-direction: column;
gap: 40px;
}
.input{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#inputTex{
    height: 40px;
    width: 25%;
    font-size: 25px;
    padding: 10px;
}
#btn{
    height: 40px;
    width: 5%;
    font-size: 15px;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(50, 38, 38);
    color: white;
}
.emojiData ul{
    margin: 10px 40px;
    display: flex;
    gap: 400px;
    font-size: 30px;
    list-style: none;
}
.emojiData ul li{
    font-size: 25px;
    display: flex;
    font-weight: 300px;
    color: antiquewhite;
    /* flex-direction: column; */
}